<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>jchemhub.view.MoleculeRenderer</title>
<script src="../../third-party/closure/closure/goog/base.js"></script>
<script src="../deps.js"></script>
<script src="../io/io_test_molsample2.js"></script>

<script>
    goog.require('jchemhub.view.MoleculeRenderer');
    goog.require('jchemhub.view.SingleBondRenderer');
    goog.require('jchemhub.view.SingleUpBondRenderer');
    goog.require('jchemhub.view.SingleDownBondRenderer');
    goog.require('jchemhub.view.SingleUpOrDownBondRenderer');
    goog.require('jchemhub.view.DoubleBondRenderer');
    goog.require('jchemhub.view.TripleBondRenderer');
    goog.require('jchemhub.view.QuadrupleBondRenderer');
    goog.require('jchemhub.model.Atom');
    goog.require('jchemhub.model.Molecule');
    goog.require('jchemhub.model.SingleBond');
    goog.require('jchemhub.model.SingleBondUp');
    goog.require('jchemhub.model.SingleBondDown');
    goog.require('jchemhub.model.SingleBondUpOrDown');  
    goog.require('jchemhub.model.DoubleBond');
    goog.require('jchemhub.model.TripleBond');
    goog.require('jchemhub.model.QuadrupleBond');
    goog.require('goog.events.EventType');
    goog.require('goog.dom');
    goog.require('goog.graphics');
    goog.require('jchemhub.graphics.AffineTransform');
    goog.require('goog.debug.Console');
    goog.require('jchemhub.io.mdl');
</script>


<script>
function draw(){
	
    var regexS = "[\\?&]mdl_num=([^&#]*)";
    var regex = new RegExp( regexS );
    var results = regex.exec( window.location.href );
	_idx=results[1];
	
    var sdfs = sdf.split("$$$$\n");
    var molfile=sdfs[_idx];
    var mol=jchemhub.io.mdl.readMolfile(molfile);

    var element = goog.dom.getElement('container')
    var graphics = goog.graphics.createGraphics(element.clientWidth,element.clientHeight);
    
	var group = graphics.createGroup();
	graphics.clear();
    graphics.render(element);

	
	//TEMP : correction for the Molfile coordinates and scale. This should be done in the renderer.
		var minX=Infinity; var minY=Infinity;
		var avgBondDist=0;
	
		for (atIdx=0; atIdx<mol.countAtoms(); atIdx++) {
			if (mol.getAtom(atIdx).coord.x < minX) 
			  minX = mol.getAtom(atIdx).coord.x ;
	        if (mol.getAtom(atIdx).coord.y < minY) 
	          minY = mol.getAtom(atIdx).coord.y ;
		}
	    for (bondIdx=0; bondIdx<mol.countBonds(); bondIdx++) {
			avgBondDist+=goog.math.Coordinate.distance(mol.getBond(bondIdx).source.coord,mol.getBond(bondIdx).target.coord);
	    }
		avgBondDist=avgBondDist/mol.countBonds();
		var scaleFactor=(50/avgBondDist)*avgBondDist;
	
	    var trans = new jchemhub.graphics.AffineTransform(1,0,0,1,0,0);
	    trans.scale(scaleFactor,scaleFactor);
		var transX=2-minX;
		var transY=2-minY; 
	    trans.translate(transX,transY);
    //END TEMP
    
    var renderer = new jchemhub.view.MoleculeRenderer(null, graphics,{background : {color : 'white'}});
    renderer.render(mol, trans, group);

};

</script>
</head>

<body onload="draw()">
Choose a number to render the corresponding molecule in
io/io_test_molsample2.js:
<form name="id_form"><select name="mdl_num"
	onchange="submitform()">
	<option value="" selected>
    <OPTION VALUE="0">0
    <OPTION VALUE="1">1
	<OPTION VALUE="2">2
	<OPTION VALUE="3">3 (bucky ball)
	<OPTION VALUE="4">4
	<OPTION VALUE="5">5
	<OPTION VALUE="6">6
	<OPTION VALUE="7">7
	<OPTION VALUE="8">8
	<OPTION VALUE="9">9
	<OPTION VALUE="10">10
	<OPTION VALUE="11">11 (too large right now)
	<OPTION VALUE="12">12
    <OPTION VALUE="13">13 (lots of stereo)

</SELECT></form>
<p><script type="text/javascript">
        function submitform()
        {
			document.id_form.submit();
        }
    </script>

<div id="container" style="width: 1024px; height: 600px"></span>
</body>
</html>